body {background-color: #fbf4ee;
    margin: 0;
    padding: 0;
}
.pagetype1 {
    display:grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.heading {
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: #ac3d02;
    margin: 0;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: #ac3d02;
    margin: 0;
}

.footer a {
    color: #c7cbd3;
    text-align: center;
}

.important {
    background-color: #ac3d02;
    color: #c7cbd3;
    padding: 1% 2% 1% 2%;
    border-radius: 8%;
}

.important p {
    color: #c7cbd3;
}

h1 {
    font-size: 28px;
    font-family: 'palatino', 'Times New Roman', Times, serif;
    text-align: center;
    color: #faf4f1;
    padding: 2% 0 2% 0;
}
nav {
    font-family: 'optima', 'calibri', 'arial', sans-serif;
    background-color: #c7cbd3;
    text-align: center;
    padding: 1% 0 1% 0;
}

nav a {
    color: #ac3d02;
    padding: 30px;
    text-decoration: none;
}
.intro {
    margin-left: 15%;
    width: 70%;
}

.intro h2 {
    font-size: 24px;
}


.content {
    margin-left: 15%;
    width: 70%;
}

.content h2 {
    background-color: #ac3d02;
    color: #faf4f1;
    width: 20%;
    text-align: center;
    border-radius: 15%;
}

.page_jump {
    font-family: 'optima', 'calibri', 'arial', sans-serif;
    background-color: #c7cbd3;
    text-align: center;
    text-decoration: none;
    padding: 0% 0 0% 0;
}

.page_jump a {
    text-decoration: none;
    color: #ac3d02;
}

.stepgrid {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 11;
    grid-gap: 1rem 2rem;
}

.stepgrid_thirds {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem 2rem;
}

ul {
    list-style-type: none;
}

img {
    float: left;
}

.list {
    margin-left: 15%;
    width: 70%;
    background-color: #c7cbd3;
}

.list img {
    float: none;
}

p {
    font-size: 16px;
    font-family: 'optima', 'calibri', 'arial', sans-serif;
    color: #0c0b0b;
}

h2 {
    font-size: 18px;
    font-family:'palatino', 'Times New Roman', Times, serif;
    color: #ac3d02;
    padding: 15px 2% 15px 2%;
}

h3 {
    font-size: 14;
    font-family: 'palatino', 'Times New Roman', Times, serif;
    color: #ac3d02;
}

@media only screen and (max-width: 500px){
    .pagetype1{
        grid-template-columns: 1fr;
    }
}