body {background-color: #fbf4ee;
    margin: 0;
    padding-bottom: 0;
}
.pagetype1 {
    display:grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.heading {
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: #ac3d02;
    margin: 0;
}

.important {
    background-color: #ac3d02;
    color: #c7cbd3;
    padding: 1% 2% 1% 2%;
    border-radius: 8%;
}

.important p {
    font-family: 'optima', 'calibri', 'arial', sans-serif;
    color: #c7cbd3;
}

.box_space {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.box_space a {
    text-decoration: none;
    color: inherit;
}

.mini_box_light {
    background-color:#c7cbd3;
    border-radius: 20%;
    text-align: center;
    margin: 0%, 0%, 0%, 0%;
    width: 150px;
    line-height: 30px;
  }
 
 .mini_box_light p {
   color: rgb(0, 0, 0);
   font-family: 'optima', 'calibri', 'arial', sans-serif;
   font-size:14px;
 }

 .mini_box_dark {
    background-color:#ac3d02;
    border-radius: 20%;
    text-align: center;
    margin: 0%, 0%, 0%, 0%;
    width: 150px;
    line-height: 30px;
  }
 
 .mini_box_dark p {
    color:#c7cbd3;
    font-family: 'optima', 'calibri', 'arial', sans-serif;
    font-size:14px;
 }

.mini_box_light:hover {
    background-color: #ac3d02;
    color: #c7cbd3;
}

.mini_box_dark:hover {
    background-color: #c7cbd3;
    color: #ac3d02;
}
.mini_box_light:hover p{
    background-color: #ac3d02;
    color: #c7cbd3;
}

.mini_box_dark:hover p{
    background-color: #c7cbd3;
    color: #ac3d02;
}

 .box_light {
    background-color:#c7cbd3;
    border-radius: 20%;
    text-align: center;
    margin: 0%, 0%, 0%, 0%;
    width: 200px;
    line-height: 75px;
  }
 
 .box_light p {
   color: rgb(0, 0, 0);
   font-family: 'optima', 'calibri', 'arial', sans-serif;
   font-size:26px;
 }

 .box_dark {
    background-color:#ac3d02;
    border-radius: 20%;
    text-align: center;
    margin: 0%, 0%, 0%, 0%;
    width: 200px;
    line-height: 75px;
  }
 
 .box_dark p {
    color:#c7cbd3;
    font-family: 'optima', 'calibri', 'arial', sans-serif;
    font-size:26px;
 }
.box_light:hover {
    background-color: #ac3d02;
    color: #c7cbd3;
}

.box_dark:hover {
    background-color: #c7cbd3;
    color: #ac3d02;
}
.box_light:hover p{
    background-color: #ac3d02;
    color: #c7cbd3;
}

.box_dark:hover p{
    background-color: #c7cbd3;
    color: #ac3d02;
}

 .box_wide {
    background-color:#c7cbd3;
    border-radius: 20%;
    text-align: center;
    margin: 0%, 0%, 0%, 0%;
    width: 400px;
    line-height: 75px;
    grid-column-start: 2;
    grid-column-end: 4;
  }
 
 .box_wide p {
   color: rgb(0, 0, 0);
   font-family: 'optima', 'calibri', 'arial', sans-serif;
   font-size:26px;
 }

h1 {
    font-size: 28px;
    font-family: 'palatino', 'Times New Roman', Times, serif;
    text-align: center;
    color: #faf4f1;
    padding: 2% 0 2% 0;
}
nav {
    font-family: 'optima', 'calibri', 'arial', sans-serif;
    background-color: #c7cbd3;
    text-align: center;
    padding: 1% 0 1% 0;
    display: flex;
    justify-content: center;

}

nav a {
    color: #ac3d02;
    padding: 30px;
    text-decoration: none;
}

a:hover {
    background-color: #ac3d02;
    color: #c7cbd3
}

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

.intro {
    margin-left: 15%;
    width: 70%;
    display: inline-block;
}

.intro h2 {
    font-size: 26px;
}

.content {
    margin-left: 5%;
    width: 90%;
}

.content h2 {
    background-color: #ac3d02;
    color: #faf4f1;
    width: 20%;
    text-align: center;
    border-radius: 15%;
}

.page_jump {
    font-family: 'optima', 'calibri', 'arial', sans-serif;
    background-color: #c7cbd3;
    text-align: center;
    text-decoration: none;
    padding: 0% 0 0% 0;
}

.page_jump a {
    text-decoration: none;
    color: #ac3d02;
}

.stepgrid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1rem 2rem;
    text-align: center;
}
.stepgrid a {
    text-align: center;
}

.stepgrid_thirds {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem 2rem;
}

ul {
    list-style-type: none;
}

img {
    float: left;
}

.list {
    background-color: #c7cbd3;
}

.list img {
    float: none;
}

p {
    font-size: 16px;
    font-family: 'optima', 'calibri', 'arial', sans-serif;
    color: #0c0b0b;
}

h2 {
    font-size: 18px;
    font-family:'palatino', 'Times New Roman', Times, serif;
    color: #ac3d02;
    padding: 15px 2% 15px 2%;
}

h3 {
    font-size: 14;
    font-family: 'palatino', 'Times New Roman', Times, serif;
    color: #ac3d02;
}

@media screen and (max-width: 500px){
nav a {
        margin: 0;
        padding:2%;
    }
.pagetype1 {
    grid-template-columns: 1fr;}
}

.footer {
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: #ac3d02;
    margin: 0;
    padding: 0;
}

.footer a {
    color: #c7cbd3;
    text-align: left;
}

.footer h3 {
    color: #c7cbd3;
    margin-bottom: 0;
    text-align: left; 
}
